body {
    margin:0px;
    padding:0px;
    padding-left:10%;
    padding-right:10%;
    padding-bottom:10px;
}

.article {
    width: 100%;
    background: -webkit-gradient(linear, left center, right center, from(#E3E3E3), to(#D7D7D7));
    background: -moz-linear-gradient(0deg, #E3E3E3, #D7D7D7);
    -webkit-box-shadow: 5px 0px 35px #AAA, -5px 0px 35px #AAA;
    -moz-box-shadow: 5px 0px 35px #AAA, -5px 0px 35px #AAA;
    padding-bottom:20px;
}

.article > .titlepage {
    background: url('images/bg_tile_lighter.png') repeat-x;
    padding-top:1px;
}

.article > .titlepage div div h2 {
    font-size:2em;
    color:#9C8354;
}

.titlepage div div h2 {
    text-align:center;
}

.authorgroup {
    margin-top:60px;
}

.authorgroup, .revhistory, .toc, .article > .section {
    padding-left:30px;
    padding-right:30px;
}

table, td, th, tr, tbody, thead {
    border:0px;
    background-color:#E0E0E0;
}

th {
    border-bottom: 1px #BBBDBF solid;
}

td {
    padding:5px;
    vertical-align:top;
}

pre {
    padding:5px;
    background-color:#F1F1F2;
}

.informaltable table {
    border:1px #BBBDBF solid;
    padding:10px;
}

.informaltable td[colspan="4"], .informaltable td[colspan="6"] {
    border-top: 1px #BBBDBF solid;
}

a[name="table_return_codes"] + table th {
    border: 0px;
}

a[name="table_return_codes"] + table td {
    border-top: 1px #BBBDBF solid;
    vertical-align:middle;
}
